<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>宝宝项目提醒</title>
</head>
<body>
<h3>{{baby.name}}  {{birthday}}出生,已经{{babyyears}} 周岁了  虚岁{{babyyearsv}}岁。出生了{{babydays}}天</h3>
<table border="1">
<tr>
<td>提醒项目</td>
<td>发生时间</td>
<td>还有多长时间</td>
</tr>
{% if itemlist %}
	{% for item in itemlist %}
	<tr>
		<td><a href="#">{{item.name}}</a></td>
		<td>{{ item.time }}</td>
		<td>{{ item.remainday }}day {{ item.remainsec }}seconds</td>
	</tr>
	{% endfor %}
{% else %}
	<tr><td colspan="3"> 没有提醒</td></tr>
{% endif %}
</table>


</body>
</html>

